In [1]:
import pandas as pd 
import os

In [2]:
#Load Data 
Deaths_age_group = pd.read_csv("Resources/Provisional_COVID-19_Death_Counts_by_Sex__Age__and_State.csv")

C:\Users\Jon Lau\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
Deaths_age_group

,Data As Of,Start Date,End Date,Group,Year,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
0,04/21/2021,01/01/2020,04/17/2021,By Total,NaN,NaN,United States,All Sexes,All Ages,"551,728","4,290,029","478,500","269,413","9,071","768,630",NaN
1,04/21/2021,01/01/2020,04/17/2021,By Total,NaN,NaN,United States,All Sexes,Under 1 year,63,"23,446",252,9,21,327,NaN
2,04/21/2021,01/01/2020,04/17/2021,By Total,NaN,NaN,United States,All Sexes,0-17 years,266,"41,069",685,49,179,"1,081",NaN
3,04/21/2021,01/01/2020,04/17/2021,By Total,NaN,NaN,United States,All Sexes,1-4 years,31,"4,212",141,5,61,228,NaN
4,04/21/2021,01/01/2020,04/17/2021,By Total,NaN,NaN,United States,All Sexes,5-14 years,96,"6,824",199,20,76,351,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52321,04/21/2021,04/01/2021,04/17/2021,By Month,2021.0,4.0,Puerto Rico,Female,50-64 years,NaN,NaN,NaN,NaN,0,NaN,One or more data cells have counts between 1-9...
52322,04/21/2021,04/01/2021,04/17/2021,By Month,2021.0,4.0,Puerto Rico,Female,55-64 years,NaN,NaN,NaN,NaN,0,NaN,One or more data cells have counts between 1-9...
52323,04/21/2021,04/01/2021,04/17/2021,By Month,2021.0,4.0,Puerto Rico,Female,65-74 years,NaN,10,NaN,NaN,0,NaN,One or more data cells have counts between 1-9...
52324,04/21/2021,04/01/2021,04/17/2021,By Month,2021.0,4.0,Puerto Rico,Female,75-84 years,NaN,14,NaN,NaN,0,NaN,One or more data cells have counts between 1-9...
52325,04/21/2021,04/01/2021,04/17/2021,By Month,2021.0,4.0,Puerto Rico,Female,85 years and over,NaN,13,NaN,NaN,0,NaN,One or more data cells have counts between 1-9...

In [4]:
Deaths_age_group.shape

(52326, 16)

In [6]:
Deaths_age_group.dtypes

Data As Of                                   object
Start Date                                   object
End Date                                     object
Group                                        object
Year                                        float64
Month                                       float64
State                                        object
Sex                                          object
Age Group                                    object
COVID-19 Deaths                              object
Total Deaths                                 object
Pneumonia Deaths                             object
Pneumonia and COVID-19 Deaths                object
Influenza Deaths                             object
Pneumonia, Influenza, or COVID-19 Deaths     object
Footnote                                     object
dtype: object

In [10]:
#dropping unused column data
Deaths_age_group = Deaths_Age_group.drop(columns =["Data as of"], axis=1, inplace=True)

NameError: name 'Deaths_Age_group' is not defined

In [ ]:
"month","End Date","Pneumonia Deaths","Influenza Deaths","Footnote","Sex","year"