In [1]:
#import dependencies
import pandas as pd

CLEANING DEATHS DATA

In [2]:
#read in deaths data
deaths_df = pd.read_csv("Resources/Weekly_deaths.csv")

C:\Users\lmsul\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
deaths_df

,Data As Of,Start Date,End Date,Group,Year,Month,MMWR Week,Week-Ending Date,HHS Region,Race and Hispanic Origin Group,Age Group,COVID-19 Deaths,Total Deaths,Footnote
0,04/21/2021,12/29/2019,01/04/2020,By Week,2019/2020,NaN,1.0,01/04/2020,United States,Hispanic,0-4 years,0.0,104.0,NaN
1,04/21/2021,12/29/2019,01/04/2020,By Week,2019/2020,NaN,1.0,01/04/2020,United States,Hispanic,5-17 years,0.0,41.0,NaN
2,04/21/2021,12/29/2019,01/04/2020,By Week,2019/2020,NaN,1.0,01/04/2020,United States,Hispanic,18-29 years,0.0,190.0,NaN
3,04/21/2021,12/29/2019,01/04/2020,By Week,2019/2020,NaN,1.0,01/04/2020,United States,Hispanic,30-39 years,0.0,236.0,NaN
4,04/21/2021,12/29/2019,01/04/2020,By Week,2019/2020,NaN,1.0,01/04/2020,United States,Hispanic,40-49 years,0.0,325.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68899,04/21/2021,01/01/2020,04/17/2021,By Total,2020/2021,NaN,NaN,NaN,10,Unknown,40-49 years,0.0,25.0,NaN
68900,04/21/2021,01/01/2020,04/17/2021,By Total,2020/2021,NaN,NaN,NaN,10,Unknown,50-64 years,NaN,98.0,One or more data cells have counts between 1-9...
68901,04/21/2021,01/01/2020,04/17/2021,By Total,2020/2021,NaN,NaN,NaN,10,Unknown,65-74 years,NaN,89.0,One or more data cells have counts between 1-9...
68902,04/21/2021,01/01/2020,04/17/2021,By Total,2020/2021,NaN,NaN,NaN,10,Unknown,75-84 years,NaN,41.0,One or more data cells have counts between 1-9...
68903,04/21/2021,01/01/2020,04/17/2021,By Total,2020/2021,NaN,NaN,NaN,10,Unknown,85 years and over,NaN,29.0,One or more data cells have counts between 1-9...

In [4]:
deaths_df.dtypes

Data As Of                         object
Start Date                         object
End Date                           object
Group                              object
Year                               object
Month                             float64
MMWR Week                         float64
Week-Ending Date                   object
HHS Region                         object
Race and Hispanic Origin Group     object
Age Group                          object
COVID-19 Deaths                   float64
Total Deaths                      float64
Footnote                           object
dtype: object

In [5]:
#drop unneeded comlumns
deaths_df = deaths_df.drop(["Data As Of", "Start Date", "End Date", "Year", "Month", "MMWR Week", "Total Deaths", "Footnote", "Age Group"], axis=1)

In [6]:
#drop unneeded rows
deaths_df = deaths_df.loc[(deaths_df["HHS Region"] != "United States") & (deaths_df["Group"] == "By Week") & (deaths_df ["Race and Hispanic Origin Group"] != "Unknown")]

In [7]:
deaths_df

,Group,Week-Ending Date,HHS Region,Race and Hispanic Origin Group,COVID-19 Deaths
4896,By Week,01/04/2020,01,Hispanic,0.0
4897,By Week,01/04/2020,01,Hispanic,0.0
4898,By Week,01/04/2020,01,Hispanic,0.0
4899,By Week,01/04/2020,01,Hispanic,0.0
4900,By Week,01/04/2020,01,Hispanic,0.0
...,...,...,...,...,...
53842,By Week,04/17/2021,10,Non-Hispanic White,0.0
53843,By Week,04/17/2021,10,Non-Hispanic White,NaN
53844,By Week,04/17/2021,10,Non-Hispanic White,NaN
53845,By Week,04/17/2021,10,Non-Hispanic White,NaN
53846,By Week,04/17/2021,10,Non-Hispanic White,NaN

In [8]:
deaths_df.dtypes

Group                              object
Week-Ending Date                   object
HHS Region                         object
Race and Hispanic Origin Group     object
COVID-19 Deaths                   float64
dtype: object

In [9]:
#convert week to datetime
deaths_df["Week-Ending Date"] = pd.to_datetime(deaths_df["Week-Ending Date"])

In [10]:
deaths_df

,Group,Week-Ending Date,HHS Region,Race and Hispanic Origin Group,COVID-19 Deaths
4896,By Week,2020-01-04,01,Hispanic,0.0
4897,By Week,2020-01-04,01,Hispanic,0.0
4898,By Week,2020-01-04,01,Hispanic,0.0
4899,By Week,2020-01-04,01,Hispanic,0.0
4900,By Week,2020-01-04,01,Hispanic,0.0
...,...,...,...,...,...
53842,By Week,2021-04-17,10,Non-Hispanic White,0.0
53843,By Week,2021-04-17,10,Non-Hispanic White,NaN
53844,By Week,2021-04-17,10,Non-Hispanic White,NaN
53845,By Week,2021-04-17,10,Non-Hispanic White,NaN
53846,By Week,2021-04-17,10,Non-Hispanic White,NaN

In [11]:
#use get dummies to create variables for race
deaths_df = pd.get_dummies(deaths_df, columns=["Race and Hispanic Origin Group"])
deaths_df

,Group,Week-Ending Date,HHS Region,COVID-19 Deaths,Race and Hispanic Origin Group_Hispanic,Race and Hispanic Origin Group_Non-Hispanic American Indian or Alaska Native,Race and Hispanic Origin Group_Non-Hispanic Asian,Race and Hispanic Origin Group_Non-Hispanic Black,Race and Hispanic Origin Group_Non-Hispanic More than one race,Race and Hispanic Origin Group_Non-Hispanic Native Hawaiian or Other Pacific Islander,Race and Hispanic Origin Group_Non-Hispanic White
4896,By Week,2020-01-04,01,0.0,1,0,0,0,0,0,0
4897,By Week,2020-01-04,01,0.0,1,0,0,0,0,0,0
4898,By Week,2020-01-04,01,0.0,1,0,0,0,0,0,0
4899,By Week,2020-01-04,01,0.0,1,0,0,0,0,0,0
4900,By Week,2020-01-04,01,0.0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
53842,By Week,2021-04-17,10,0.0,0,0,0,0,0,0,1
53843,By Week,2021-04-17,10,NaN,0,0,0,0,0,0,1
53844,By Week,2021-04-17,10,NaN,0,0,0,0,0,0,1
53845,By Week,2021-04-17,10,NaN,0,0,0,0,0,0,1
53846,By Week,2021-04-17,10,NaN,0,0,0,0,0,0,1

In [ ]:
#group by week, race, region and sum covid deaths

CLEANING VACCINATION DATA

In [ ]:
#read in data
JJ_df = pd.read_csv("Resources/Janssen.csv")
Moderna_df = pd.read_csv("Resources/Moderna.csv")
Pfizer_df = pd.read_csv("Resources/Pfizer.csv")

In [ ]:
JJ_df