In [24]:
import pandas as pd
import numpy as np

In [27]:
#import the covid deaths csv
deaths_df = pd.read_csv('deaths.csv')
list(deaths_df.columns)

/Users/justinobrien/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

['Data As Of',
 'Start Date',
 'End Date',
 'Group',
 'Year',
 'Month',
 'State',
 'Sex',
 'Age Group',
 'COVID-19 Deaths',
 'Total Deaths',
 'Pneumonia Deaths',
 'Pneumonia and COVID-19 Deaths',
 'Influenza Deaths',
 'Pneumonia, Influenza, or COVID-19 Deaths',
 'Footnote']

In [28]:
deaths_df = deaths_df.drop(['Sex','Total Deaths', 'Pneumonia Deaths', 'Pneumonia and COVID-19 Deaths','Influenza Deaths', 'Pneumonia, Influenza, or COVID-19 Deaths','Footnote', 'Age Group', 'Year', 'Month'], axis=1)

In [29]:
deaths_df = deaths_df.loc[(deaths_df['State'] != 'United States')]
deaths_df.head()

    Data As Of  Start Date    End Date     Group    State COVID-19 Deaths
51  04/21/2021  01/01/2020  04/17/2021  By Total  Alabama          10,334
52  04/21/2021  01/01/2020  04/17/2021  By Total  Alabama             NaN
53  04/21/2021  01/01/2020  04/17/2021  By Total  Alabama             NaN
54  04/21/2021  01/01/2020  04/17/2021  By Total  Alabama               0
55  04/21/2021  01/01/2020  04/17/2021  By Total  Alabama               0

In [30]:
deaths_df = deaths_df.drop(['Group'], axis = 1)
deaths_df.head()

    Data As Of  Start Date    End Date    State COVID-19 Deaths
51  04/21/2021  01/01/2020  04/17/2021  Alabama          10,334
52  04/21/2021  01/01/2020  04/17/2021  Alabama             NaN
53  04/21/2021  01/01/2020  04/17/2021  Alabama             NaN
54  04/21/2021  01/01/2020  04/17/2021  Alabama               0
55  04/21/2021  01/01/2020  04/17/2021  Alabama               0

In [31]:
deaths_df = deaths_df.drop(['Data As Of'], axis=1)

In [32]:
deaths_df = deaths_df.dropna()

In [33]:
deaths_df[['Start Date','End Date']] = deaths_df[['Start Date', 'End Date']].apply(pd.to_datetime)

In [34]:
deaths_df['COVID-19 Deaths'] = pd.to_numeric(deaths_df['COVID-19 Deaths'], errors = 'coerce')

In [35]:
deaths_df = deaths_df[deaths_df.State != 'Puerto Rico']

In [36]:
deaths_df = deaths_df[deaths_df.State != 'District of Columbia']

In [37]:
deaths_df.replace(
    to_replace= ['New York City'], 
    value = 'New York',
    inplace= True
)
deaths_df

      Start Date   End Date    State  COVID-19 Deaths
51    2020-01-01 2021-04-17  Alabama              NaN
54    2020-01-01 2021-04-17  Alabama              0.0
55    2020-01-01 2021-04-17  Alabama              0.0
56    2020-01-01 2021-04-17  Alabama             11.0
57    2020-01-01 2021-04-17  Alabama             35.0
...          ...        ...      ...              ...
51505 2021-04-01 2021-04-17  Wyoming              0.0
51506 2021-04-01 2021-04-17  Wyoming              0.0
51507 2021-04-01 2021-04-17  Wyoming              0.0
51508 2021-04-01 2021-04-17  Wyoming              0.0
51509 2021-04-01 2021-04-17  Wyoming              0.0

[37578 rows x 4 columns]

In [65]:
prevax= deaths_df[deaths_df['End Date']<='2021-01-02'].groupby('State').sum('Covid-19 Deaths')
prevax.reset_index(inplace=True)
prevax.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   State            50 non-null     object
 1   COVID-19 Deaths  50 non-null     float64
dtypes: float64(1), object(1)
memory usage: 928.0+ bytes

In [47]:
postvax= deaths_df[deaths_df['End Date']>='2021-01-02'].groupby('State').sum('Covid-19 Deaths')
postvax.reset_index(inplace=True)
postvax.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   State            50 non-null     object
 1   COVID-19 Deaths  50 non-null     float64
dtypes: float64(1), object(1)
memory usage: 928.0+ bytes

In [66]:
prevax.to_csv('prevax_deaths.csv')

In [67]:
postvax.to_csv('postvax_deaths.csv')

In [61]:
#import the polldata csv
polldata_df = pd.read_csv('STATEPOLLDATA.csv')
polldata_df

,state,mask willingness,vaccine unwillingness,supply usage,population,election results
0,Alabama,85.0,26.0,63.8,4863300.0,R
1,Alaska,77.0,22.0,72.9,741894.0,R
2,Arizona,80.0,22.0,75.3,6931071.0,D
3,Arkansas,68.0,27.0,69.5,2988248.0,R
4,California,84.0,17.0,77.8,39250017.0,D
5,Colorado,89.0,18.0,82.2,5540545.0,D
6,Connecticut,95.0,13.0,84.1,3576452.0,D
7,Delaware,90.0,14.0,77.6,952065.0,D
8,Florida,91.0,20.0,73.1,20612439.0,R
9,Georgia,82.0,27.0,66.9,10310371.0,D
10,Hawaii,94.0,11.0,82.9,1428557.0,D
11,Idaho,73.0,29.0,76.2,1683140.0,R
12,Illinois,90.0,19.0,78.2,12801539.0,D
13,Indiana,89.0,22.0,76.4,6633053.0,R
14,Iowa,69.0,20.0,85.9,3134693.0,R
15,Kansas,86.0,25.0,74.6,2907289.0,R
16,Kentucky,83.0,25.0,79.7,4436974.0,R
17,Louisiana,86.0,23.0,73.8,4681666.0,R
18,Maine,88.0,16.0,85.1,1331479.0,D
19,Maryland,91.0,15.0,79.2,6016447.0,D
20,Massachusetts,90.0,11.0,83.1,6811779.0,D
21,Michigan,84.0,21.0,74.5,9928300.0,D
22,Minnesota,83.0,17.0,86.3,5519952.0,D
23,Mississippi,83.0,30.0,65.7,2988726.0,R
24,Missouri,79.0,24.0,76.4,6093000.0,R
25,Montana,84.0,24.0,77.3,1042520.0,R
26,Nebraska,80.0,16.0,80.9,1907116.0,R
27,Nevada,92.0,22.0,82.1,2940058.0,D
28,New Hampshire,87.0,17.0,85.0,1334795.0,D
29,New Jersey,88.0,14.0,83.3,8944469.0,D
30,New Mexico,89.0,20.0,89.1,2081015.0,D
31,New York,91.0,13.0,83.7,19745289.0,D
32,North Carolina,79.0,22.0,71.9,10146788.0,R
33,North Dakota,66.0,24.0,87.7,757952.0,R
34,Ohio,83.0,21.0,79.9,11614373.0,R
35,Oklahoma,81.0,28.0,72.2,3923561.0,R
36,Oregon,90.0,17.0,77.5,4093465.0,D
37,Pennsylvania,88.0,20.0,80.1,12784227.0,D
38,Rhode Island,96.0,15.0,80.3,1056426.0,D
39,South Carolina,82.0,23.0,71.7,4961119.0,R
40,South Dakota,54.0,28.0,79.1,865454.0,R
41,Tennessee,76.0,25.0,74.5,6651194.0,R
42,Texas,84.0,23.0,72.4,27862596.0,R
43,Utah,74.0,16.0,84.0,3051217.0,R
44,Vermont,84.0,16.0,83.6,624594.0,D
45,Virginia,88.0,19.0,82.0,8411808.0,D
46,Washington,88.0,17.0,79.8,7288000.0,D
47,West Virginia,77.0,28.0,71.4,1831102.0,R
48,wisconsin,79.0,19.0,87.6,5778708.0,D
49,wyoming,54.0,22.0,74.8,585501.0,R
50,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
polldata_df.dropna()

,state,mask willingness,vaccine unwillingness,supply usage,population,election results
0,Alabama,85.0,26.0,63.8,4863300.0,R
1,Alaska,77.0,22.0,72.9,741894.0,R
2,Arizona,80.0,22.0,75.3,6931071.0,D
3,Arkansas,68.0,27.0,69.5,2988248.0,R
4,California,84.0,17.0,77.8,39250017.0,D
5,Colorado,89.0,18.0,82.2,5540545.0,D
6,Connecticut,95.0,13.0,84.1,3576452.0,D
7,Delaware,90.0,14.0,77.6,952065.0,D
8,Florida,91.0,20.0,73.1,20612439.0,R
9,Georgia,82.0,27.0,66.9,10310371.0,D
10,Hawaii,94.0,11.0,82.9,1428557.0,D
11,Idaho,73.0,29.0,76.2,1683140.0,R
12,Illinois,90.0,19.0,78.2,12801539.0,D
13,Indiana,89.0,22.0,76.4,6633053.0,R
14,Iowa,69.0,20.0,85.9,3134693.0,R
15,Kansas,86.0,25.0,74.6,2907289.0,R
16,Kentucky,83.0,25.0,79.7,4436974.0,R
17,Louisiana,86.0,23.0,73.8,4681666.0,R
18,Maine,88.0,16.0,85.1,1331479.0,D
19,Maryland,91.0,15.0,79.2,6016447.0,D
20,Massachusetts,90.0,11.0,83.1,6811779.0,D
21,Michigan,84.0,21.0,74.5,9928300.0,D
22,Minnesota,83.0,17.0,86.3,5519952.0,D
23,Mississippi,83.0,30.0,65.7,2988726.0,R
24,Missouri,79.0,24.0,76.4,6093000.0,R
25,Montana,84.0,24.0,77.3,1042520.0,R
26,Nebraska,80.0,16.0,80.9,1907116.0,R
27,Nevada,92.0,22.0,82.1,2940058.0,D
28,New Hampshire,87.0,17.0,85.0,1334795.0,D
29,New Jersey,88.0,14.0,83.3,8944469.0,D
30,New Mexico,89.0,20.0,89.1,2081015.0,D
31,New York,91.0,13.0,83.7,19745289.0,D
32,North Carolina,79.0,22.0,71.9,10146788.0,R
33,North Dakota,66.0,24.0,87.7,757952.0,R
34,Ohio,83.0,21.0,79.9,11614373.0,R
35,Oklahoma,81.0,28.0,72.2,3923561.0,R
36,Oregon,90.0,17.0,77.5,4093465.0,D
37,Pennsylvania,88.0,20.0,80.1,12784227.0,D
38,Rhode Island,96.0,15.0,80.3,1056426.0,D
39,South Carolina,82.0,23.0,71.7,4961119.0,R
40,South Dakota,54.0,28.0,79.1,865454.0,R
41,Tennessee,76.0,25.0,74.5,6651194.0,R
42,Texas,84.0,23.0,72.4,27862596.0,R
43,Utah,74.0,16.0,84.0,3051217.0,R
44,Vermont,84.0,16.0,83.6,624594.0,D
45,Virginia,88.0,19.0,82.0,8411808.0,D
46,Washington,88.0,17.0,79.8,7288000.0,D
47,West Virginia,77.0,28.0,71.4,1831102.0,R
48,wisconsin,79.0,19.0,87.6,5778708.0,D
49,wyoming,54.0,22.0,74.8,585501.0,R

In [63]:
polldata_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   state                  50 non-null     object
 1   mask willingness       50 non-null     float64
 2   vaccine unwillingness  50 non-null     float64
 3   supply usage           50 non-null     float64
 4   population             50 non-null     float64
 5   election results       50 non-null     object
dtypes: float64(4), object(2)
memory usage: 2.5+ KB

In [64]:
polldata_df.to_csv('polldata.csv')

,state,mask willingness,vaccine unwillingness,supply usage,population,election results
0,Alabama,85.0,26.0,63.8,NaN,R
1,Alaska,77.0,22.0,72.9,NaN,R
2,Arizona,80.0,22.0,75.3,NaN,D
3,Arkansas,68.0,27.0,69.5,NaN,R
4,California,84.0,17.0,77.8,NaN,D
5,Colorado,89.0,18.0,82.2,NaN,D
6,Connecticut,95.0,13.0,84.1,NaN,D
7,Delaware,90.0,14.0,77.6,NaN,D
8,Florida,91.0,20.0,73.1,NaN,R
9,Georgia,82.0,27.0,66.9,NaN,D
10,Hawaii,94.0,11.0,82.9,NaN,D
11,Idaho,73.0,29.0,76.2,NaN,R
12,Illinois,90.0,19.0,78.2,NaN,D
13,Indiana,89.0,22.0,76.4,NaN,R
14,Iowa,69.0,20.0,85.9,NaN,R
15,Kansas,86.0,25.0,74.6,NaN,R
16,Kentucky,83.0,25.0,79.7,NaN,R
17,Louisiana,86.0,23.0,73.8,NaN,R
18,Maine,88.0,16.0,85.1,NaN,D
19,Maryland,91.0,15.0,79.2,NaN,D
20,Massachusetts,90.0,11.0,83.1,NaN,D
21,Michigan,84.0,21.0,74.5,NaN,D
22,Minnesota,83.0,17.0,86.3,NaN,D
23,Mississippi,83.0,30.0,65.7,NaN,R
24,Missouri,79.0,24.0,76.4,NaN,R
25,Montana,84.0,24.0,77.3,NaN,R
26,Nebraska,80.0,16.0,80.9,NaN,R
27,Nevada,92.0,22.0,82.1,NaN,D
28,New Hampshire,87.0,17.0,85.0,NaN,D
29,New Jersey,88.0,14.0,83.3,NaN,D
30,New Mexico,89.0,20.0,89.1,NaN,D
31,New York,91.0,13.0,83.7,NaN,D
32,North Carolina,79.0,22.0,71.9,NaN,R
33,North Dakota,66.0,24.0,87.7,NaN,R
34,Ohio,83.0,21.0,79.9,NaN,R
35,Oklahoma,81.0,28.0,72.2,NaN,R
36,Oregon,90.0,17.0,77.5,NaN,D
37,Pennsylvania,88.0,20.0,80.1,NaN,D
38,Rhode Island,96.0,15.0,80.3,NaN,D
39,South Carolina,82.0,23.0,71.7,NaN,R
40,South Dakota,54.0,28.0,79.1,NaN,R
41,Tennessee,76.0,25.0,74.5,NaN,R
42,Texas,84.0,23.0,72.4,NaN,R
43,Utah,74.0,16.0,84.0,NaN,R
44,Vermont,84.0,16.0,83.6,NaN,D
45,Virginia,88.0,19.0,82.0,NaN,D
46,Washington,88.0,17.0,79.8,NaN,D
47,West Virginia,77.0,28.0,71.4,NaN,R
48,wisconsin,79.0,19.0,87.6,NaN,D
49,wyoming,54.0,22.0,74.8,NaN,R
50,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
#read in vaccine data
JJ_df = pd.read_csv("Janssen.csv")
Moderna_df = pd.read_csv("moderna.csv")
Pfizer_df = pd.read_csv("pfizer.csv")

In [89]:
JJ_df = JJ_df.rename(columns={'Jurisdiction': 'State'}) 
JJ_df = JJ_df.rename(columns={'1st Dose Allocations': 'Vaccinations'}) 
JJ_df

             State  Vaccinations
0          Alabama        179400
1           Alaska         39900
2          Arizona        253900
3         Arkansas        109000
4       California       1428400
5         Colorado        203400
6      Connecticut        134800
7         Delaware         35700
8          Florida        781500
9          Georgia        370900
10          Hawaii         53500
11           Idaho         59900
12        Illinois        471000
13         Indiana        241000
14            Iowa        114700
15          Kansas        104700
16        Kentucky        163400
17       Louisiana        169000
18           Maine         51600
19        Maryland        221700
20   Massachusetts        259300
21        Michigan        369100
22       Minnesota        202000
23     Mississippi        108200
24        Missouri        223700
25         Montana         39000
26        Nebraska         69300
27          Nevada        107200
28   New Hampshire         51700
29      New Jersey        328700
30      New Mexico         77000
31        New York        735700
32  North Carolina        373700
33    North Dakota         28500
34            Ohio        428800
35        Oklahoma        141000
36          Oregon        153700
37    Pennsylvania        422200
38    Philadelphia         58600
39    Rhode Island         40800
40  South Carolina        183600
41    South Dakota         31500
42       Tennessee        245000
43           Texas        978300
44            Utah        102100
45         Vermont         24500
46        Virginia        311400
47      Washington        272000
48   West Virginia         69600
49       Wisconsin        214700
50         Wyoming         21400

In [90]:
JJ_df['State'].value_counts()

North Carolina    1
North Dakota      1
Arizona           1
Oregon            1
Colorado          1
West Virginia     1
Alaska            1
New Hampshire     1
Mississippi       1
Arkansas          1
Washington        1
Texas             1
Nevada            1
Oklahoma          1
Alabama           1
Georgia           1
Minnesota         1
South Dakota      1
Maryland          1
Nebraska          1
Rhode Island      1
Indiana           1
Montana           1
New Mexico        1
Maine             1
Wisconsin         1
Massachusetts     1
New Jersey        1
Utah              1
Tennessee         1
Idaho             1
Connecticut       1
Philadelphia      1
New York          1
Ohio              1
Missouri          1
Illinois          1
Vermont           1
Pennsylvania      1
Florida           1
Iowa              1
Wyoming           1
Hawaii            1
South Carolina    1
Delaware          1
California        1
Louisiana         1
Virginia          1
Kentucky          1
Michigan          1
Kansas            1
Name: State, dtype: int64

In [91]:
JJ_df = JJ_df[JJ_df.State != 'Puerto Rico']
JJ_df = JJ_df[JJ_df.State != 'American Samoa']
JJ_df = JJ_df[JJ_df.State != 'Federal Entities']
JJ_df = JJ_df[JJ_df.State != 'Palau']
JJ_df = JJ_df[JJ_df.State != 'U.S. Virgin Islands']
JJ_df = JJ_df[JJ_df.State != 'Guam']
JJ_df = JJ_df[JJ_df.State != 'Marshall Islands']
JJ_df = JJ_df[JJ_df.State != 'Micronesia']
JJ_df = JJ_df[JJ_df.State != 'District of Columbia']
JJ_df = JJ_df[JJ_df.State != 'Mariana Islands']

In [92]:
JJ_df['State'].value_counts()

North Carolina    1
North Dakota      1
Arizona           1
Oregon            1
Colorado          1
West Virginia     1
Alaska            1
New Hampshire     1
Mississippi       1
Arkansas          1
Washington        1
Texas             1
Nevada            1
Oklahoma          1
Alabama           1
Georgia           1
Minnesota         1
South Dakota      1
Maryland          1
Nebraska          1
Rhode Island      1
Indiana           1
Montana           1
New Mexico        1
Maine             1
Wisconsin         1
Massachusetts     1
New Jersey        1
Utah              1
Tennessee         1
Idaho             1
Connecticut       1
Philadelphia      1
New York          1
Ohio              1
Missouri          1
Illinois          1
Vermont           1
Pennsylvania      1
Florida           1
Iowa              1
Wyoming           1
Hawaii            1
South Carolina    1
Delaware          1
California        1
Louisiana         1
Virginia          1
Kentucky          1
Michigan          1
Kansas            1
Name: State, dtype: int64

In [93]:
JJ_df.replace(
    to_replace= ['New York City'], 
    value = 'New York',
    inplace= True
)
JJ_df.replace(
    to_replace= ['Chicago'], 
    value = 'Illinois',
    inplace= True
)

In [94]:
JJ_df

             State  Vaccinations
0          Alabama        179400
1           Alaska         39900
2          Arizona        253900
3         Arkansas        109000
4       California       1428400
5         Colorado        203400
6      Connecticut        134800
7         Delaware         35700
8          Florida        781500
9          Georgia        370900
10          Hawaii         53500
11           Idaho         59900
12        Illinois        471000
13         Indiana        241000
14            Iowa        114700
15          Kansas        104700
16        Kentucky        163400
17       Louisiana        169000
18           Maine         51600
19        Maryland        221700
20   Massachusetts        259300
21        Michigan        369100
22       Minnesota        202000
23     Mississippi        108200
24        Missouri        223700
25         Montana         39000
26        Nebraska         69300
27          Nevada        107200
28   New Hampshire         51700
29      New Jersey        328700
30      New Mexico         77000
31        New York        735700
32  North Carolina        373700
33    North Dakota         28500
34            Ohio        428800
35        Oklahoma        141000
36          Oregon        153700
37    Pennsylvania        422200
38    Philadelphia         58600
39    Rhode Island         40800
40  South Carolina        183600
41    South Dakota         31500
42       Tennessee        245000
43           Texas        978300
44            Utah        102100
45         Vermont         24500
46        Virginia        311400
47      Washington        272000
48   West Virginia         69600
49       Wisconsin        214700
50         Wyoming         21400

In [95]:
JJ_df = JJ_df.groupby('State').sum('1st Dose Allocations')
JJ_df.reset_index(inplace=True)
JJ_df.info()
JJ_df.to_csv('JJvax.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   State         51 non-null     object
 1   Vaccinations  51 non-null     int64
dtypes: int64(1), object(1)
memory usage: 944.0+ bytes

In [123]:
Pfizer_df = pd.read_csv("pfizer.csv")
Pfizer_df = Pfizer_df.rename(columns={'Jurisdiction': 'State'}) 
Pfizer_df = Pfizer_df.drop(['1st Dose Allocations'], axis = 1)
#replace nyc and chicago with their respective states
Pfizer_df.replace(
    to_replace= ['New York City'], 
    value = 'New York',
    inplace= True
)
Pfizer_df.replace(
    to_replace= ['Chicago'], 
    value = 'Illinois',
    inplace= True
)
Pfizer_df

              State Week of Allocations  2nd Dose Allocations
0       Connecticut          05/03/2021                 54990
1             Maine          05/03/2021                 21060
2     Massachusetts          05/03/2021                105300
3     New Hampshire          05/03/2021                 21060
4      Rhode Island          05/03/2021                 16380
...             ...                 ...                   ...
1318       Virginia          12/14/2020                 72150
1319     Washington          12/14/2020                 62400
1320  West Virginia          12/14/2020                 16575
1321      Wisconsin          12/14/2020                 49725
1322        Wyoming          12/14/2020                  4875

[1323 rows x 3 columns]

In [124]:
Pfizer_df = Pfizer_df.rename(columns={'2nd Dose Allocations': 'Vaccinations'})
Pfizer_df = Pfizer_df[Pfizer_df.State != 'Puerto Rico']
Pfizer_df = Pfizer_df[Pfizer_df.State != 'American Samoa']
Pfizer_df = Pfizer_df[Pfizer_df.State != 'Federal Entities']
Pfizer_df = Pfizer_df[Pfizer_df.State != 'Palau']
Pfizer_df = Pfizer_df[Pfizer_df.State != 'U.S. Virgin Islands']
Pfizer_df = Pfizer_df[Pfizer_df.State != 'Guam']
Pfizer_df = Pfizer_df[Pfizer_df.State != 'Marshall Islands']
Pfizer_df= Pfizer_df[Pfizer_df.State != 'Micronesia']
Pfizer_df = Pfizer_df[Pfizer_df.State != 'District of Columbia']
Pfizer_df = Pfizer_df[Pfizer_df.State != 'Mariana Islands']

In [125]:
Pfizer_df = Pfizer_df.groupby("State").sum('Vaccinations')
Pfizer_df.reset_index(inplace=True)
pfizer_df

                Vaccinations
State
Alabama              1046760
Alaska                241800
Arizona              1484340
Arkansas              640380
California           8303880
Colorado             1188525
Connecticut           794820
Delaware              220350
Florida              4543110
Georgia              2162550
Hawaii                320580
Idaho                 354900
Illinois             2756325
Indiana              1406925
Iowa                  672555
Kansas                616980
Kentucky              962325
Louisiana             996450
Maine                 306540
Maryland             1297920
Massachusetts        1515150
Michigan             2148120
Minnesota            1181115
Mississippi           635310
Missouri             1308840
Montana               236925
Nebraska              409110
Nevada                630630
New Hampshire         306540
New Jersey           1914510
New Mexico            457470
New York             4284150
North Carolina       2181270
North Dakota          169845
Ohio                 2502045
Oklahoma              831285
Oregon                902070
Pennsylvania         2461485
Philadelphia          353730
Rhode Island          240435
South Carolina       1076205
South Dakota          191295
Tennessee            1433445
Texas                5689125
Utah                  597675
Vermont               153855
Virginia             1816425
Washington           1604655
West Virginia         409110
Wisconsin            1256970
Wyoming               133380

In [131]:
Pfizer_df.reset_index(inplace=True)
Pfizer_df

             State  Vaccinations
0          Alabama       1046760
1           Alaska        241800
2          Arizona       1484340
3         Arkansas        640380
4       California       8303880
5         Colorado       1188525
6      Connecticut        794820
7         Delaware        220350
8          Florida       4543110
9          Georgia       2162550
10          Hawaii        320580
11           Idaho        354900
12        Illinois       2756325
13         Indiana       1406925
14            Iowa        672555
15          Kansas        616980
16        Kentucky        962325
17       Louisiana        996450
18           Maine        306540
19        Maryland       1297920
20   Massachusetts       1515150
21        Michigan       2148120
22       Minnesota       1181115
23     Mississippi        635310
24        Missouri       1308840
25         Montana        236925
26        Nebraska        409110
27          Nevada        630630
28   New Hampshire        306540
29      New Jersey       1914510
30      New Mexico        457470
31        New York       4284150
32  North Carolina       2181270
33    North Dakota        169845
34            Ohio       2502045
35        Oklahoma        831285
36          Oregon        902070
37    Pennsylvania       2461485
38    Philadelphia        353730
39    Rhode Island        240435
40  South Carolina       1076205
41    South Dakota        191295
42       Tennessee       1433445
43           Texas       5689125
44            Utah        597675
45         Vermont        153855
46        Virginia       1816425
47      Washington       1604655
48   West Virginia        409110
49       Wisconsin       1256970
50         Wyoming        133380

In [132]:
Pfizer_df.to_csv('pfizervax.csv')

In [127]:
moderna_df = pd.read_csv("moderna.csv")
moderna_df = moderna_df.rename(columns={'Jurisdiction': 'State'}) 
moderna_df = moderna_df.drop(['1st Dose Allocations'], axis = 1)
#replace nyc and chicago with their respective states
moderna_df.replace(
    to_replace= ['New York City'], 
    value = 'New York',
    inplace= True
)
moderna_df.replace(
    to_replace= ['Chicago'], 
    value = 'Illinois',
    inplace= True
)
moderna_df

              State Week of Allocations  2nd Dose Allocations
0       Connecticut          05/03/2021                 40400
1             Maine          05/03/2021                 15400
2     Massachusetts          05/03/2021                 77700
3     New Hampshire          05/03/2021                 15500
4      Rhode Island          05/03/2021                 12100
...             ...                 ...                   ...
1255       Virginia          12/21/2020                146400
1256     Washington          12/21/2020                128000
1257  West Virginia          12/21/2020                 32600
1258      Wisconsin          12/21/2020                101000
1259        Wyoming          12/21/2020                 10000

[1260 rows x 3 columns]

In [128]:
moderna_df = moderna_df.rename(columns={'2nd Dose Allocations': 'Vaccinations'})
moderna_df = moderna_df[moderna_df.State != 'Puerto Rico']
moderna_df = moderna_df[moderna_df.State != 'American Samoa']
moderna_df = moderna_df[moderna_df.State != 'Federal Entities']
moderna_df = moderna_df[moderna_df.State != 'Palau']
moderna_df= moderna_df[moderna_df.State != 'U.S. Virgin Islands']
moderna_df = moderna_df[moderna_df.State != 'Guam']
moderna_df = moderna_df[moderna_df.State != 'Marshall Islands']
moderna_df= moderna_df[moderna_df.State != 'Micronesia']
moderna_df = moderna_df[moderna_df.State != 'District of Columbia']
moderna_df = moderna_df[moderna_df.State != 'Mariana Islands']

In [129]:
moderna_df = moderna_df.groupby("State").sum('Vaccinations')
moderna_df

                Vaccinations
State
Alabama               911800
Alaska                201700
Arizona              1292600
Arkansas              553100
California           7273200
Colorado             1034100
Connecticut           684900
Delaware              181500
Florida              3978600
Georgia              1885700
Hawaii                271000
Idaho                 302800
Illinois             2394600
Indiana              1225600
Iowa                  581800
Kansas                531300
Kentucky              829900
Louisiana             860500
Maine                 261900
Maryland             1128000
Massachusetts        1319200
Michigan             1877800
Minnesota            1028400
Mississippi           549500
Missouri             1138400
Montana               198700
Nebraska              351400
Nevada                544900
New Hampshire         262300
New Jersey           1671500
New Mexico            391900
New York             3744200
North Carolina       1902400
North Dakota          143500
Ohio                 2182500
Oklahoma              716900
Oregon                780700
Pennsylvania         2149900
Philadelphia          298300
Rhode Island          206200
South Carolina        933900
South Dakota          158600
Tennessee            1246400
Texas                4980400
Utah                  518100
Vermont               124000
Virginia             1583400
Washington           1385300
West Virginia         353400
Wisconsin            1092400
Wyoming               108900

In [134]:
moderna_df.reset_index(inplace=True)
moderna_df

             State  Vaccinations
0          Alabama        911800
1           Alaska        201700
2          Arizona       1292600
3         Arkansas        553100
4       California       7273200
5         Colorado       1034100
6      Connecticut        684900
7         Delaware        181500
8          Florida       3978600
9          Georgia       1885700
10          Hawaii        271000
11           Idaho        302800
12        Illinois       2394600
13         Indiana       1225600
14            Iowa        581800
15          Kansas        531300
16        Kentucky        829900
17       Louisiana        860500
18           Maine        261900
19        Maryland       1128000
20   Massachusetts       1319200
21        Michigan       1877800
22       Minnesota       1028400
23     Mississippi        549500
24        Missouri       1138400
25         Montana        198700
26        Nebraska        351400
27          Nevada        544900
28   New Hampshire        262300
29      New Jersey       1671500
30      New Mexico        391900
31        New York       3744200
32  North Carolina       1902400
33    North Dakota        143500
34            Ohio       2182500
35        Oklahoma        716900
36          Oregon        780700
37    Pennsylvania       2149900
38    Philadelphia        298300
39    Rhode Island        206200
40  South Carolina        933900
41    South Dakota        158600
42       Tennessee       1246400
43           Texas       4980400
44            Utah        518100
45         Vermont        124000
46        Virginia       1583400
47      Washington       1385300
48   West Virginia        353400
49       Wisconsin       1092400
50         Wyoming        108900

In [136]:
moderna_df.info()
moderna_df.to_csv('Modernavax.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   State         51 non-null     object
 1   Vaccinations  51 non-null     int64
dtypes: int64(1), object(1)
memory usage: 944.0+ bytes